<div class="user-details-card"  [@slideFromRight]>
  <div class="name-section">
    <div class="name-text">
      {{ userDetails.firstName | titlecase }}
      {{ userDetails.lastName | titlecase }}
    </div>
    <div clsas="email-text">{{ userDetails.email }}</div>
  </div>

  <div class="details">
    <div class="detail-section">
      <div matLine class="detail-row">
        Mobile Number :
        <div class="detail-text">{{ userDetails.mobile }}</div>
      </div>

      <div matLine class="detail-row">
        Gender :
        <div class="detail-text">{{ userDetails.gender }}</div>
      </div>

      <div matLine class="detail-row">
        Weight :
        <div class="detail-text">{{ userDetails.weight }}</div>
      </div>

      <div matLine class="detail-row">
        Height :
        <div class="detail-text">{{ userDetails.height }}</div>
      </div>
    </div>

    <div class="detail-section">
      <div class="detail-row">
        BMI :
        <div class="detail-text">{{ userDetails.bmi }}</div>
      </div>

      <div class="detail-row">
        BMI Result :
        <div class="detail-text">{{ userDetails.bmiResult }}</div>
      </div>
    </div>

    <div class="detail-section">
      <div class="detail-row">
        Package :
        <div class="detail-text">{{ userDetails.package }}</div>
      </div>

      <div class="detail-row">
        Trainer Require :
        <div class="detail-text">{{ userDetails.requireTrainer }}</div>
      </div>

      <div class="detail-row">
        Goals :
        <div color="primary" class="goals">
          <ng-container *ngFor="let row of userDetails.important">
          {{ row }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
