
.button-class{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    input{
        width:250px
    }
}

table {
    width: 100%;
    box-shadow: 0px 3px 6px skyblue;
    
}

td.mat-cell.cdk-cell.first-name-column.cdk-column-firstName.mat-column-firstName {
    cursor: pointer;
}

th {
    border:1px solid #dddddd;
    text-align: center;
    padding: 8px;
    .first-name-column{
        cursor: pointer;
    }
}

td {
    border:1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
