<!-- <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form [formGroup]="addEmplyoee">
                <input type="hidden" name="_id" />
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      placeholder="Enter full name"
                      required
                    />
                    <label
                      >Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      name="position"
                      formControlName="position"
                      placeholder="Eg : Snr. Developer"
                    />
                    <label>Position :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      name="office"
                      formControlName="office"
                      placeholder="Enter office location"
                    />
                    <label>Office :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      name="salary"
                      formControlName="salary"
                      placeholder="Salary per annum"
                    />
                    <label>Salary :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" (click)="onSubmit()">
                      Update
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->