$theme-blue: (
    primary-1: #f0fdff,
    primary-2: #bdf5ff,
    primary-3: #00ace0,
    primary-4: #003e70,
    primary-5: #00214d,
    greyscale-1: #fefcfd,
    greyscale-2: #e2e3ee,
    greyscale-3: #7b839f,
    greyscale-4: #313e5a,
    greyscale-5: #0b152b,
    success-1: #21833b,
    error-1: #ca362b,
    info-1: #2969a8,
    caution-1: #b06100,
)